<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CompanionIIIT"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Host.hostside_megahertz_societies_calendar"
            android:exported="false" />
        <activity
            android:name=".Host.hostside_megahertz_societies_event_images"
            android:exported="false" />
        <activity
            android:name=".Host.hostside_megahertz_societies_announcement"
            android:exported="false" />
        <activity
            android:name=".Item_host_events"
            android:exported="false" />
        <activity
            android:name=".Host.hostside_fats_societies_calendar"
            android:exported="false" />
        <activity
            android:name=".Host.hostside_fats_societies_teammembers"
            android:exported="false" />
        <activity
            android:name=".Host.hostside_fats_societies_event_images"
            android:exported="false" />
        <activity
            android:name=".Host.hostside_fats_societies_announcement"
            android:exported="false" />
        <activity
            android:name=".Loading_page"
            android:exported="false" />
        <activity
            android:name=".Host.hostside_Ecell_societies_calendar"
            android:exported="false" />
        <activity
            android:name=".Host.hostside_Ecell_societies_teammembers"
            android:exported="false" />
        <activity
            android:name=".Host.hostside_Ecell_societies_event_images"
            android:exported="false" />
        <activity
            android:name=".Host.hostside_Ecell_societies_announcement"
            android:exported="false" />
        <activity
            android:name=".Host.hostside_Tars_societies_calendar"
            android:exported="false" />
        <activity
            android:name=".Host.hostside_Tars_societies_teammembers"
            android:exported="false" />
        <activity
            android:name=".Host.hostside_Tars_societies_event_images"
            android:exported="false" />
        <activity
            android:name=".Host.hostside_Tars_societies_announcement"
            android:exported="false" />
        <activity
            android:name=".Host.hostside_Culturalsocieties_calendar"
            android:exported="false" />
        <activity
            android:name=".Host.hostside_Culturalsocieties_teammembers"
            android:exported="false" />
        <activity
            android:name=".Host.hostside_Culturalsocieties_event_images"
            android:exported="false" />
        <activity
            android:name=".Host.hostside_Culturalsocieties_announcement"
            android:exported="false" />
        <activity
            android:name=".SocietyFragment.megahertz"
            android:exported="false" />
        <activity
            android:name=".SocietyFragment.sportsociety"
            android:exported="false" />
        <activity
            android:name=".SocietyFragment.vedantasamiti"
            android:exported="false" />
        <activity
            android:name=".SocietyFragment.naps"
            android:exported="false" />
        <activity
            android:name=".SocietyFragment.paracosm"
            android:exported="false" />
        <activity
            android:name=".SocietyFragment.cultural_society"
            android:exported="false" />
        <activity
            android:name=".SocietyFragment.photogeeks"
            android:exported="false" />
        <activity
            android:name=".SocietyFragment.Ecell"
            android:exported="false" />
        <activity
            android:name=".SocietyFragment.Tars"
            android:exported="false" />
        <activity
            android:name=".SocietyFragment.TechSociety"
            android:exported="false" />
        <activity
            android:name=".Host.megahertz_host_home"
            android:exported="false" />
        <activity
            android:name=".Host.sportsociety_host_home"
            android:exported="false" />
        <activity
            android:name=".Host.vedantasamiti_host_home"
            android:exported="false" />
        <activity
            android:name=".Host.naps_host_home"
            android:exported="false" />
        <activity
            android:name=".Host.paracosom_host_home"
            android:exported="false" />
        <activity
            android:name=".Host.culturalsociety_host_home"
            android:exported="false" />
        <activity
            android:name=".Host.fats_host_home"
            android:exported="false" />
        <activity
            android:name=".Host.photogeeks_host_home"
            android:exported="false" />
        <activity
            android:name=".Host.tars_host_home"
            android:exported="false" />
        <activity
            android:name=".Host.hostside_societies_teammembers"
            android:exported="false" />
        <activity
            android:name=".Host.hostside_societies_event_images"
            android:exported="false" />
        <activity
            android:name=".Host.hostside_societies_calendar"
            android:exported="false" />
        <activity
            android:name=".Host.hostside_societies_announcement"
            android:exported="false" />
        <activity
            android:name=".Host.techsociety_host_home"
            android:exported="false" />
        <activity
            android:name=".Host.HostCompanionIIIT"
            android:exported="false" />
        <activity
            android:name=".Announcement.AnnouncementActivity"
            android:exported="false" />
        <activity
            android:name=".Card_Activity"
            android:exported="false" />
        <activity
            android:name=".Kotlin_Reminder_functionality.AddreminderPage"
            android:exported="false" />
        <activity
            android:name=".MyCalendar.activity_myCalender_card"
            android:exported="false" />
        <activity
            android:name=".attendance.student_attendance_activity"
            android:exported="false" />
        <activity
            android:name=".SocietyFragment.fats"
            android:exported="false" />
        <activity
            android:name=".attendance.attendance_card"
            android:exported="false" />
        <activity
            android:name=".upload_picture"
            android:exported="false" />
        <activity
            android:name=".info_year"
            android:exported="false"
            android:theme="@style/Theme.CompanionIIIT" />
        <activity
            android:name=".interest"
            android:exported="false" />
        <activity
            android:name=".welcome"
            android:exported="true">
            <intent-filter tools:ignore="ExtraText">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".signup"
            android:exported="true" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>